/* --------- mixins --------- */
/* MIXINS */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* --------- adjustment --------- */
/* --------- base --------- */
html {
  width: 100%;
  height: 100%;
  font-size: 100.01%;
}
body {
  font: 14px/1.41 Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}
.container {
  width: 945px;
  margin: 0 auto;
  position: relative;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 965px;
}
.wrapper .empty {
  position: relative;
  height: 50px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin: 0;
}
footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
}
/* --------- main.css --------- */
